<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<%= link_to "Log in", new_user_session_path  %>
<%= link_to "LOg_out", destroy_user_session_path, method: :delete %>
<% if user_signed_in? %>
<% if current_user.userparam.nil? %>
<%= link_to "Profile", new_userparam_path %>
<% else %>
<%= link_to "Profile", userparam_path(current_user.id) %>
<% end %>

<%= link_to "Create new post", new_post_path %>
<% if @posts == [] %>
	<p>Create new post</p>
	<% else %>
		<% @posts.each do |post|%>
		<p>User <%= post.user.email %> write: %>
		<b><%= post.title %></b><br />
		<%= post.body %></p>
		<p><%= link_to "Read More", post_path(post.id) %></p>
	<% end %>
<% end %>
